#
# Copyright (C) 2024-2025 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: e2e-main

on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      organization:
        default: 'podman-desktop'
        description: 'Organization of the extension-minikube repository'
        type: string
        required: true
      repositoryName:
        default: 'extension-minikube'
        description: 'Podman Desktop Minikube extension repository name'
        type: string
        required: true
      branch:
        default: 'main'
        description: 'Podman Desktop Minikube extension repo branch'
        type: string
        required: true
      extension_image:
        default: 'ghcr.io/podman-desktop/podman-desktop-extension-minikube:nightly'
        type: string
        required: true
      minikube_driver:
        description: 'Minikube cluster driver'
        type: choice
        options:
        - docker
        - podman
        required: true
      npm_target:
        default: 'test:e2e'
        description: 'The npm target to run tests. Use "test:e2e:all" to run all test suites, including Kubernetes tests.'
        type: string

jobs:
  e2e-tests:
    name: Run E2E tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        name: Clone Minikube extension repository workflow dispatch
        if: github.event_name == 'workflow_dispatch'
        with:
          repository: ${{ github.event.inputs.organization }}/${{ github.event.inputs.repositoryName }}
          ref: ${{ github.event.inputs.branch }}
          path: ${{ github.event.inputs.repositoryName }}

      - uses: actions/checkout@v6
        with:
          path: extension-minikube

      - uses: actions/checkout@v6
        with:
          repository: podman-desktop/podman-desktop
          ref: main
          path: podman-desktop

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          package_json_file: ./podman-desktop/package.json

      - name: Set default env. variables
        env:
          DEFAULT_EXTENSION_IMAGE: 'ghcr.io/podman-desktop/podman-desktop-extension-minikube:nightly'
          DEFAULT_MINIKUBE_DRIVER: 'docker'
          DEFAULT_NPM_TARGET: 'test:e2e'
        run: |
          echo "EXTENSION_IMAGE=${{ github.event.inputs.extension_image || env.DEFAULT_EXTENSION_IMAGE }}" >> $GITHUB_ENV
          echo "MINIKUBE_DRIVER=${{ github.event.inputs.minikube_driver || env.DEFAULT_MINIKUBE_DRIVER }}" >> $GITHUB_ENV
          echo "NPM_TARGET=${{ github.event.inputs.npm_target || env.DEFAULT_NPM_TARGET }}" >> $GITHUB_ENV

      - name: Revert unprivileged user namespace restrictions in Ubuntu 24.04
        run: |
          # allow unprivileged user namespace
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Set cgroup_manager to 'cgroupfs' instead of systemd
        run: |
          mkdir -p ~/.config/containers
          cat <<EOT >> ~/.config/containers/containers.conf
          [engine]
          cgroup_manager="cgroupfs"
          EOT
          podman info

      - name: Install Minikube CLI
        id: minikube
        uses: medyagh/setup-minikube@latest
        with:
          start: false

      - name: Ensure Minikube CLI is installed
        run: |
          minikube version

      - name: Execute pnpm
        working-directory: ./podman-desktop
        run: pnpm install

      - name: Build Podman Desktop for E2E tests
        working-directory: ./podman-desktop
        run: pnpm build

      - name: Ensure getting current HEAD version of the test framework
        working-directory: ./extension-minikube
        run: |
          # workaround for https://github.com/containers/podman-desktop-extension-bootc/issues/712
          version=$(npm view @podman-desktop/tests-playwright@next version)
          echo "Version of @podman-desktop/tests-playwright to be used: $version"
          jq --arg version "$version" '.devDependencies."@podman-desktop/tests-playwright" = $version' package.json > package.json_tmp && mv package.json_tmp package.json

      - name: Execute pnpm in Minikube Extension
        working-directory: ./extension-minikube
        run: pnpm install --no-frozen-lockfile

      - name: Run All E2E tests
        working-directory: ./extension-minikube
        env:
          PODMAN_DESKTOP_ARGS: ${{ github.workspace }}/podman-desktop
          EXTENSION_IMAGE: ${{ env.EXTENSION_IMAGE }}
          MINIKUBE_DRIVER_GHA: ${{ env.MINIKUBE_DRIVER }}
        run: pnpm ${{ env.NPM_TARGET }}

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always() # always run even if the previous step fails
        with:
          fail_on_failure: true
          include_passed: true
          detailed_summary: true
          require_tests:  true
          annotate_only: true
          report_paths: '**/*results.xml'

      - uses: actions/upload-artifact@v7
        if: always()
        with:
          name: e2e-tests
          path: ./**/tests/**/output/
